
h2{
  color: #405af3;
}
a{
  color: black;
}

.has-shadow{
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  background: rgba(0,0,0,0.8);
}

.has-border {
  border: 10px solid #405af3;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.has-pulse:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 0.8s;
}
.has-jello:hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
}
.has-bounce:hover {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}

.has-roundededge{
  border-radius: 1px 50px;
  background: #405af3;
  padding: 5px;
}

.has-shade{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.is-horizontal-center {
  justify-content: center;
}
