/* ------- General styling ------- */
h2{
  color: #405af3;
}

.Marker{
  font-family: 'Permanent Marker', cursive;
}

.has-shadow{
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  background: rgba(0,0,0,0.8);
}

/* ------- BOX ------- */


.has-border {
  border: 12px solid #405af3;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  margin: 0px 0px 0px 20px;
}

/* ------- ANIMATIONS ------- */

.has-pulse:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 0.8s;
}
.has-jello:hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
}
.has-bounce:hover {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}

/* ------- Image styling ------- */

.has-roundededge{
  border-radius: 1px 50px;
  background: #405af3;
  padding: 5px;
}

.has-shade{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.is-horizontal-center {
  justify-content: center;
}

/* ------- LINK DIV ------- */

button{
  margin-top: 10px;
  border-radius: 5px;
  border: 3px solid #405af3;
  background: white;
  width: 150px;
  padding: 8px 2px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

button:hover {
  transition: color 1s, background-color 1s;
  background-color: #405af3;
  color: white
}

a{
  color: black;
}

/* ------- Devicon ------- */

.devicon{
    padding-top: 30px;
    font-size: 50px;
    padding: 0 10px;
  }

  .bulma{
    height: 60px
  }
